body {
    max-width: 1000px;
    margin: auto;
}

.charDiv {
    font-size: 15pt;
    min-width: 30px;
    height: 50px;
    text-align: center;
    float: left;
}

#entries {
    background-color: white;
    bottom: 0;
    clear: both;
    max-width: 1000px;
    position: fixed;
    width: 100%;
}

.incorrectTone {
    font-weight: bold;
}

rt {
    font-size: 80%;
    font-family: "Gentium";
}

.selectedEntry {
    background-color: #DDD;
}

.selectedEntryChar {
    background-color: #DDD;
}

#text {
    margin-bottom: 250px;
}

.tone1 {
    color: #990000;
    background-color: #ffcccc;
}

.tone2 {
    color: #996600;
    background-color: #ffeecc;
}

.tone3 {
    color: #006600;
    background-color: #ccffcc;
}

.tone4 {
    color: #000099;
    background-color: #ccccff;
}

.tone5 {
    background-color: #ccccbb;
}
