rt {
    font-size: 80%;
}

.selectedEntry {
    background-color: #DDD;
}

.selectedEntryChar {
    background-color: #DDD;
}

.charDiv {
    font-size: 15pt;
    width: 35px;
    height: 50px;
    text-align: center;
    float: left;
}

.incorrectTone {
    font-weight: bold;
}

#entries {
    clear: both;
}